.sidebar{
    position:fixed;
    left:0px;
    bottom:0px;
    top:55px;
    background-color: white;
    width:72px;
}

.sidebar-link{
    background-color:white;
    height:76px;
    display:flex;
    flex-direction: column;
    align-items: center;
     justify-content: center;
    align-items: center;
   
}

.sidebar-link img{
height:24px;
}

.sidebar-link:hover{
    background-color: lightgray;

}

.sidebar-link div{
    font-size: 10px;
    font-family: Roboto,Arial;
    font-weight: 400;
    

}

